.holder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5rem 0 0 4rem;
  @media (max-width: 550px) {
    margin: 4rem 0 0 5vw;
  }
}

.button {
  width: fit-content;
  font-size: 3.5rem;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 1;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1);
  transition: 0.2s ease-in-out all;

  &:hover,
  &:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    cursor: pointer;
    outline: none;
  }
  &:hover,
  &:focus-visible {
    transform: translateY(-1px) scale(1.1);
  }
}

.label {
  font-size: 1.5rem;
  font-variant-caps: small-caps;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  padding-left: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
}

.mounted {
  animation: detector 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes detector {
  0% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 0.75;
  }
  60%,
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.75;
  }
}
