:root {
  /* --link-color: #398b99; */
  /* --link-color: #2e63b8; */
  --border-radius: 2px;
}

.light {
  --background-color: #fefefe;
  --text-color: #343434;
  --link-color: #398b99;
  --header-text-color: #343434;
  --tag-color: #262626;
  --spacer-background: #effbf9;

  --tree-marker-color: hsla(0, 0%, 0%, 0.4);
  --grey-mid: #666;
  --grey-light: hsl(189, 2%, 95%);
}

.dark {
  /* --background-color: #081214; */
  --background-color: #240b05;
  --text-color: #f3f0f0;
  --link-color: #e9c46a;
  --header-text-color: #fefefe;
  --tag-color: #fefefe;
  --spacer-background: hsl(43, 74%, 8%);

  --tree-marker-color: hsla(0, 0%, 100%, 0.4);
  --grey-mid: #999;
}
