.container {
  width: 100%;
  margin-top: 8rem;
  border-top: 1px solid #ccc;
  padding-top: 3rem;
  h4 {
    margin-bottom: 1.5rem;
  }
}

.post {
  margin-bottom: 2rem;
  margin-left: 0;

  h5 {
    font-weight: 400;
    opacity: 0.75;
  }
}
