.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 5rem;
  padding-bottom: 3rem;
  background-color: var(--spacer-background);

  @media (max-width: 549px) {
    padding: 3rem 0;
  }
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-position: right;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid transparent;
  transition: 0.3s ease-in-out border-color;
  transition: 0.3s ease-in-out transform;

  @media (max-width: 550px) {
    width: 55px;
    height: 55px;
    top: -25px;
  }
}

.me {
  display: flex;
  flex-direction: column;
  text-align: center;

  & > a:hover img,
  & > a:focus img {
    cursor: pointer;
    transform: translateX(-50%) rotate(3deg);
    border-color: var(--link-color);
  }

  ul {
    margin: 1.5rem auto 2.5rem auto;
    text-align: center;
  }

  li {
    display: inline-block;
    a {
      font-size: 2rem;
      &:hover svg {
        opacity: 0.75;
        transform: scale(1.1);
      }

      svg {
        transition: 0.2s ease-in-out all;
        margin: 0;
      }
    }

    &::after {
      content: '•';
      margin: 0 1.25rem;
      color: var(--link-color);
      font-size: 2.5rem;
      line-height: 1;
    }
    &:last-of-type::after {
      display: none;
    }
  }

  .note {
    font-size: 1.4rem;
    color: var(--grey-mid);
  }
}

.themeHolder > button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem 0 0 4rem;

  @media (max-width: 550px) {
    margin-left: 5vw;
  }
}
