/* homepage */
.main {
  width: 90vw;
  max-width: 640px;
  margin: 19rem auto 10rem auto;
  flex-grow: 1;
  h1 {
    margin-bottom: 0;
  }
  @media (max-width: 550px) {
    margin: 15rem auto 5rem 5vw;
  }
}

.subhed {
  color: var(--grey-mid);
  margin-bottom: 1rem;
  font-size: 1.75rem;
  line-height: 1.4;
  letter-spacing: -0.08rem;
  @media (min-width: 550px) {
    font-size: 2.4rem;
  }
}
.intro {
  color: var(--text-color);
  margin-bottom: 6rem;

  .jump {
    display: block;
    margin-top: 1rem;

    a {
      padding-right: 1.75rem;
      padding-bottom: 0.5rem;
      white-space: nowrap;
      display: inline-block;
      will-change: contents;

      &:last-of-type {
        padding-right: 0;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          opacity: 0;
          transform: translateY(50%);
          animation: fade 0.8s ease-in-out forwards;
          animation-delay: 350ms * $i;
        }
      }
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translateY(050%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* tree */
.tree {
  margin-bottom: 7rem;

  .markers {
    font-family: monospace;
    color: var(--tree-marker-color);
    margin-right: 1.5rem;
    padding-top: 1rem;
  }

  .sectionTitle {
    color: var(--grey-mid);
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: -0.03rem;
    font-weight: 400;
    svg {
      margin-right: 0.5rem;
    }
  }
}

.blogList {
  margin: 0;

  article {
    margin-bottom: 2.5rem;
  }
  .future {
    pointer-events: none;
    opacity: 0.5;
  }

  a {
    font-size: 2.2rem;
    line-height: 1.35;
    display: inline-block;
    letter-spacing: -0.04rem;
  }

  .description {
    color: var(--text-color);
    display: inline-block;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-top: 0.5rem;
    letter-spacing: -0.03rem;
  }

  .tag {
    color: var(--grey-mid);
    font-size: 1.4rem;
    white-space: nowrap;
    display: inline-block;
    letter-spacing: -0.02rem;
  }

  .imageSet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    img {
      width: auto;
      max-width: 100px;
      height: 50px;
      object-fit: cover;
      object-position: left center;
      margin: 1rem 1rem 0.5rem 0;
      border: 1px solid var(--grey-light);
      transition: 0.3s ease-in-out all;

      @media (max-width: 550px) {
        width: 100px;
        height: 50px;
        object-position: left top;
      }

      &:hover {
        transform: scale(2);
      }
    }
  }
}

.projectList {
  composes: blogList;

  article {
    margin-bottom: 0;
    & > a {
      border: 1px solid var(--project-border-color);
      box-shadow: 0 1px 8px -5px var(--box-shadow-color);
      border-radius: var(--border-radius);
      padding: 1.5rem;
      margin-bottom: 3rem;
      transition: 0.2s ease-in-out box-shadow;
      background-color: var(--project-background-color);
      position: relative;

      &:hover,
      &:focus {
        box-shadow: 0 1px 8px -5px var(--box-shadow-color), 0 1px 8px -4px var(--box-shadow-color);
        h3 {
          text-decoration: 0.125em underline var(--link-color);
        }
      }
    }

    .band {
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: var(--project-band-color);
      z-index: 2;
      border-radius: var(--border-radius) 0 0 var(--border-radius);

      @media (max-width: 550px) {
        display: none;
      }
    }

    .flex {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      h3 {
        font-size: 1.9rem;
        line-height: 1.3;
        margin: 0;
        font-weight: 400;
        color: var(--link-color);
        letter-spacing: -0.02rem;
        display: inline-block;
      }
    }

    .launch {
      position: absolute;
      top: 1rem;
      right: 1rem;
      @media (max-width: 550px) {
        position: static;
        display: inline-block;
        // margin-left: 1rem;
        vertical-align: baseline;
      }
    }
  }

  .description {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .mainImage {
    max-width: initial;
    width: 170px;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: top center;
    margin-right: 2rem;
    border: 1px solid var(--grey-light);
  }

  @media (max-width: 650px) {
    .imageSet {
      display: none;
    }
  }

  @media (max-width: 550px) {
    .flex {
      flex-direction: column;
      & > span {
        padding: 1rem;
        padding-bottom: 0.5rem;
      }
    }
    article > a {
      padding: 0;
      margin-bottom: 4rem;
    }

    .mainImage {
      max-height: unset;
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border: none;
      border-bottom: 1px solid var(--grey-light);
    }
    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(90vw - 2rem);
    }
  }
}

.awardsList {
  composes: blogList;

  article {
    margin-bottom: 1rem;
  }
  a {
    font-size: 1.9rem;
    letter-spacing: -0.02rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  display: block;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    border-color: var(--link-color);
  }
  &:focus {
    outline-color: var(--link-color);
  }
}
