/* homepage */
.main {
  width: 85vw;
  max-width: 640px;
  margin: 19rem auto 10rem auto;
  flex-grow: 1;
  h1 {
    margin-bottom: 0;
  }
  @media (max-width: 550px) {
    margin: 15rem auto 5rem 5vw;
  }
}

.subhed {
  color: var(--grey-mid);
  margin-bottom: 1rem;
}
.intro {
  color: var(--text-color);
  margin-bottom: 8rem;

  .jump {
    display: block;
    margin-top: 1rem;

    a {
      padding-right: 1.75rem;
      padding-bottom: 0.5rem;
      white-space: nowrap;
      display: inline-block;
      will-change: contents;

      &:last-of-type {
        padding-right: 0;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          opacity: 0;
          transform: translateY(50%);
          animation: fade 0.8s ease-in-out forwards;
          animation-delay: 0.3s + (350ms * $i);
        }
      }
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translateY(050%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* tree */
.tree {
  margin-bottom: 5rem;

  .markers {
    font-family: monospace;
    color: var(--tree-marker-color);
    margin-right: 1.5rem;
    padding-top: 1rem;
  }

  .sectionTitle {
    color: var(--grey-mid);
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.7rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.blogList {
  margin: 0;

  li {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  a {
    font-size: 2.2rem;
    line-height: 1.35;
    display: inline-block;
  }

  .description {
    color: var(--text-color);
    display: inline-block;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-top: 0.5rem;
  }

  .tag {
    color: var(--grey-mid);
    font-size: 1.4rem;
    white-space: nowrap;
    display: inline-block;
  }

  .imageSet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    img {
      width: auto;
      max-width: 100px;
      height: 50px;
      object-fit: cover;
      object-position: left center;
      margin: 1rem 1rem 0.5rem 0;
      border: 1px solid var(--grey-light);
      transition: 0.3s ease-in-out all;

      @media (max-width: 550px) {
        width: 100px;
        height: 50px;
        object-position: left top;
      }

      &:hover {
        transform: scale(2);
      }
    }
  }
}

.projectList {
  composes: blogList;

  li {
    border: 1px solid hsla(0, 0%, 80%, 0.2);
    box-shadow: 0 1px 8px -5px #ccc;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin-bottom: 3rem;
    transition: 0.2s ease-in-out box-shadow;

    &:hover {
      box-shadow: 0 1px 8px -5px #ccc, 0 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
  a {
    font-size: 1.85rem;
    line-height: 1.3;
  }
  .description {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .mainImage {
    max-width: initial;
    width: 170px;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: top center;
    margin-right: 2rem;
    /* border: 1px solid var(--grey-light); */
  }

  @media (max-width: 650px) {
    .imageSet {
      display: none;
    }
  }

  @media (max-width: 550px) {
    li {
      flex-direction: column;
      padding: 0;
      & > span {
        padding: 1rem;
        padding-bottom: 0.5rem;
      }
    }

    .mainImage {
      max-height: unset;
      width: 100%;
      border-bottom: 1px solid var(--grey-light);
    }
    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(85vw - 2rem);
    }
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  display: block;
  margin: 2rem auto 0 auto;

  &:hover {
    cursor: pointer;
    border-color: var(--link-color);
  }
  &:focus {
    outline-color: var(--link-color);
  }
}
