/* homepage */
.main {
  width: 85vw;
  max-width: 640px;
  margin: 22rem auto 10rem auto;
  flex-grow: 1;
  h1 {
    margin-bottom: 0;
  }
  @media (max-width: 550px) {
    margin: 16rem auto 5rem 5vw;
  }
}

.subhed {
  color: var(--grey-mid);
  margin-bottom: 1rem;
}
.intro {
  color: var(--text-color);
  margin-bottom: 10rem;

  .jump {
    display: block;
    margin-top: 1rem;

    a {
      margin-right: 1.75rem;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      display: inline-block;

      &:last-of-type {
        margin-right: 0;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          opacity: 0;
          transform: translateY(50%);
          animation: fade 0.8s ease-in-out forwards;
          animation-delay: 1s + (350ms * $i);
        }
      }
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translateY(050%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/* tree */
.tree {
  margin-bottom: 5rem;

  .markers {
    font-family: monospace;
    color: var(--tree-marker-color);
    margin-right: 1.5rem;
    padding-top: 1rem;
  }

  .sectionTitle {
    color: var(--grey-mid);
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.7rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.blogList {
  margin: 0;

  li {
    margin-bottom: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  a {
    font-size: 2.2rem;
    line-height: 1.35;
    display: inline-block;
  }

  .description {
    color: var(--text-color);
    display: inline-block;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .tag {
    color: var(--grey-mid);
    font-size: 1.4rem;
    white-space: nowrap;
    display: inline-block;
  }
}

.imageSet {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;

  img {
    width: auto;
    max-width: 120px;
    height: 60px;
    object-fit: cover;
    object-position: left center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--grey-light);
    transition: 0.3s ease-in-out all;

    @media (max-width: 550px) {
      width: 100px;
      height: 50px;
      object-position: left top;
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  display: block;
  margin: 2rem auto 0 auto;

  &:hover {
    cursor: pointer;
    border-color: var(--link-color);
  }
  &:focus {
    outline-color: var(--link-color);
  }
}
