/* globals */
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
a {
  text-decoration-color: transparent;
  color: var(--link-color);
  text-decoration-thickness: 0.125em;
}

a:hover,
a:focus {
  text-decoration-color: var(--link-color);
  outline-color: var(--link-color);
}

/* _app.js layout style */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  transition: 0.2s ease-in background-color;
}
.spacer {
  height: 10px;
  background-color: var(--spacer-background);
  transition: 0.2s ease-in background-color;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}

/* 404 error */
.error-page + div[class^='ThemeChanger'] {
  display: none;
}
