:root {
  /* --link-color: #398b99; */
  /* --link-color: #2e63b8; */
  --border-radius: 2px;
}

.light {
  --background-color: #fff;
  --text-color: #302f2f;
  --link-color: #228176;
  --header-text-color: #383636;
  --tag-color: #262626;
  --spacer-background: hsl(197, 37%, 97%);

  --tree-marker-color: hsla(0, 0%, 0%, 0.2);
  --grey-mid: #66605f;

  --spotify-icon-color: #1ed760;
}

.dark {
  /* --background-color: #081214; */
  --background-color: #240b05;
  --text-color: #f0e8e6;
  --link-color: #e9c46a;
  --header-text-color: #faf4f2;
  --tag-color: #fefefe;
  --spacer-background: hsl(43, 74%, 8%);

  --tree-marker-color: hsla(0, 0%, 100%, 0.4);
  --grey-mid: #c2bab8;

  --spotify-icon-color: #fffffe;
}
